@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --var-neon: #1F51FF;
}

body{
    background-color: #27282c;
}

body{
    overflow: hidden;
}

#txtmobi{
    font-family: 'Share Tech Mono', 'sans-serif';
    font-size: 3em;

    display: flex; 
    color: white;
    justify-content: center;
    text-shadow: 0 0 20px #fff, 0 0 30px var(--var-neon), 0 0 40px var(--var-neon), 0 0 50px var(--var-neon), 0 0 60px var(--var-neon), 0 0 70px var(--var-neon), 0 0 80px var(--var-neon);;
}

.display{
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    background-image: none;
    grid-template-areas: "clap hihat kick"
                         "openhart boom ride"
                         "snare tom tink";
    grid-gap: 19px;
}


.letter{
    display: none;
}
.key{
    font-family: 'Share Tech Mono', 'sans-serif';
    display: flex;
    text-transform: uppercase;
    font-size: x-large;
    /* Este flex-direction faz com que 'cc' fique abaixo de 'letter' */
    width: 140px;
    height: 204px;
    padding: 10px;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%); */
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 251, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px ;
    border-radius: 5px;
    transition: 0.1s;
}

#ka{
    grid-area: clap;
}
#ks{
    grid-area: hihat;
}
#kd{
    grid-area: kick;
}
#kf{
    grid-area: openhart;
}
#kg{
    grid-area: boom;
}
#kh{
    grid-area: ride;
}
#kj{
    grid-area: snare;
}
#kk{
    grid-area: tom;
}
#kl{
    grid-area: tink;
}

.shadowed{
    box-shadow: 0px 0px 9px greenyellow;
}

i{
    display: none;
}

footer{
    font-family: 'Share Tech Mono', 'sans-serif';
    font-style: italic;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}